<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="~{base :: head}">
</head>

<body>


    <div th:replace="~{base :: navbar}"></div>

    <div class="container col-md-6 mt-5">
        <h4 class="mb-5">Lista de Cartórios</h4>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Endereço</th>
              </tr>
            </thead>
            <tbody th:each="registry : ${registries}">
              <tr>
                <th scope="row" th:text="${registry.id}">1</th>
                <td th:text="${registry.name}">Mark</td>
                <td th:text="${registry.address}">Otto</td>
              </tr>
            </tbody>
          </table>
    </div>

</body>

</html>